.leftSide {
  display: flex;
  flex-direction: column;
}
.rightSide {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding: 0;
}
.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.type {
  font-weight: 400;
  text-transform: uppercase;
}
.itemId {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
}
.status {
  display: flex;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.status p {
  margin-right: 1px;
}
.status img {
  margin-top: 8px;
  margin-left: 1px;
  bottom: 6px;
}
button {
  border: none;
  background-color: inherit;
}
p {
  margin: 1px;
}
.price {
  color: #000000;
  position: absolute;
  width: 163px;
  bottom: 0px;
  right: -12px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}
span {
  text-transform: none;
}
.statusItem span {
  margin-left: 18px;
  margin-right: 1px;
}
.leftSide .status .statusItem {
  opacity: 1 !important;
}
